
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>
 
<p>
  <strong>email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>interests:</strong>
  <%= @profile.interests %>
</p>

<%= link_to 'Back', profiles_path %>

