<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<%= render 'layouts/navigation' %>
<div class="body">
  <div id = "profile">
    <p class="profile-nav" id="profileEdit">
    <a href ='/myprofile/edit'>Edit</a></p>
<h1>
  <%= @profile.name %>
  </h1>
    
     <div id="socialLinksDiv">
<% if @profile.soundcloud.length > 1 %>
  <p class = "socialLinks">  
      <strong><%= link_to "Soundcloud", @profile.soundcloud %></strong>
  </p>
<%end%>
  
<% if @profile.spotify.length > 1%>
  <p class = "socialLinks">  
      <strong><%= link_to "Spotify", @profile.spotify %></strong>
  </p>
<%end%>
   
<% if @profile.youtube.length > 1 %>
 <p class = "socialLinks">  
    <strong><%= link_to "Youtube", @profile.youtube %></strong>
</p>
<%end%>
</div>
 
<p>
  <strong>email:</strong>
  <%= @profile.email %>
</p>

<div class="profileSection">
  <h2>bio:</h2>
  <p>
    <%= @profile.bio%>
  </p>  
</div>

<div class="profileSection">
  <h2>interests:</h2>
  <p>
   <%= @profile.interests %>
  </p>
</div>
   
    <h1>
      Skills
    </h1>
<% if @userSkills.length > 0 %>    
 <% @userSkills.each do |element| %>
     <h2><%=element.variety%></h2>
     <li class = "skillDetails">Genre: <%= element.genre%></li>
     <li class = "skillDetails">Experience: <%= element.experience%></li>
     <li class = "skillDetails">Details: <%= element.details%></li><br>
    <p class = "profile-nav">
      <%= link_to 'Edit', edit_skill_path(element) %>
      &nbsp &nbsp <%= link_to 'Delete', skill_path(element),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              :remote => true, :class => 'delete_skill'%></p>
<% end %>
<%end%>
<p class="profile-nav">
  
    <a href='/skills/new'>Add Skill</a></p><br>
  
      </div>
</div>

