<%= render 'layouts/navigation' %>
<div class="body">
<h1>Sign Up</h1>
<%= form_for @user do |f|%>
  <p><%= f.label :username%></p>
  <p><%= f.text_field :username%></p>
  <p><%= f.label :password%></p>
  <p><%= f.password_field :password%></p>
<br>
  <%= f.submit %>
<%end%>
  </div>