<%= render 'layouts/navigation' %><%= yield %>
<h1>
  Welcome to Concerto!
</h1>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
<%= link_to 'Profiles', controller: 'profiles' %>