<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<%= render 'layouts/navigation'%>
<div class="body">
  

<h1>
  Search
</h1>
  
  <%= form_with model: @skill, local: true do |form| %>
  <p id = "varietySelect">
    <%= form.label :variety %>
    <%= form.select :variety, options_for_select(@skillsArray.sort),{}, { class: "btn btn-secondary dropdown-toggle" } %>
  </p>
  <p id = "genreSelect">
    <%= form.label :genre %>
    <%= form.select :genre, options_for_select(@genresArray.sort), {}, { class: "btn btn-secondary dropdown-toggle" } %>
  </p>
  
  <p id = "experienceSelect">
    <%= form.label :experience %>
    <%= form.number_field :experience, :class=>"form-control", :id => "searchExperienceSelect"%>
  </p>
  <% end %>
    <button id = "newSearch" class="btn btn-light">New Search</button>
  <h1>
  Search Results
</h1>
<table>
  <tr>
    <th>User</th>
    <th>Variety</th>
    <th>Genre</th>
    <th id = "experienceHeader">Experience</th>
    <th></th>
  </tr>
  <% @skills.each do |skill| %>
    <tr>
      <td><a href="/profiles/<%=skill.user_id%>"><%= skill.username%></a></td>
      <td class = "varietyTD"><%= skill.variety %></td>
      <td class = "genreTD"><%= skill.genre %></td>
      <td class = "experienceTD"><%= skill.experience %></td>
  </tr>
  <% end %>
</table>

  
  </div>
<%= javascript_pack_tag 'filterResults', 'data-turbolinks-track': 'reload' %>